* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.not__header{
  display: flex;
  padding: 20px;
  padding-bottom: 150px; 
  background-color: rgb(185, 227, 238);
}
.nav__sidebar {
  display: flex;
  order: 1;
  border-color: azure;
}
.main {
  display:flex;
  order: 2;
  background-color: rgb(185, 227, 238);
  /* padding-bottom: 100%; */
}

h1 {
  align-content: center;
  color: antiquewhite;
}
h3{
  padding-top: 10px;
}
header {
  display: block;
  text-align: center;
  width: 100%;
  background-color: rgb(119, 169, 182);
  margin: 0px;
  padding: 70px;
  font-size: xx-large;
}
ul {
  list-style-type: none;
  margin: 20px;
}
li {
  border-color: azure;
}
a:link {
  color: black; 
} 
a:visited {
  color: black; 
} 
a:hover {
  color:grey;
} 
a:active{
  color: white;
}
.delete__button {
  color:whitesmoke;
  background-color:cadetblue;
  border: none; 
  border-radius: 2px;
  padding: 5px;
}
p {
  padding-bottom: 20px;
  padding-top: 20px;
}
button {
  color:whitesmoke;
  background-color:cadetblue;
  border: none; 
  border-radius: 2px;
  padding: 5px;
}
.note__details {
  padding-left: 30px;
}
/*  from Note css*/
.list__item {
  background: azure;
  display: block;
  border: black;
  border-style: solid;
  border-width: 2px;
  flex-grow: 4;
  margin: 10px;
  padding: 10px;
  padding-right: 100px;
}
li {
  border-color: azure;
  border: 5px;
}
.delete__button {
  display: flex;
  
}