.list__item {
    background: azure;
    display: block;
    border: black;
    border-style: solid;
    border-width: 2px;
    flex-grow: 4;
    margin: 10px;
    padding: 10px;
    padding-right: 100px;
}
li {
    border-color: azure;
    border: 5px;
}
.delete__button {
    display: flex;
    
}